/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

#root {
  padding: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  background-image: url('/images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gridContainer {
  margin: 0 auto;
  text-align: center;
  border: 3px solid #707070;
}

.displayWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #707070;
}

.gridWrapper {
  position: relative;
}

.gridWrapper * {
  box-sizing: border-box;
}

.gridWrapper .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.gridWrapper .overlay .gameover {
  width: 70px;
  height: 70px;
  background-image: url('/images/bomb.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gridWrapper .overlay.inProgress {
  display: none !important;
  visibility: hidden;
  opacity: 0;
}

.grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid .tile {
  position: relative;
}

.grid .tile .tileCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #D9D9D9;
  border-width: 3px;
  border-style: solid;
  border-top-color: #FFFFFF;
  border-right-color: #707070;
  border-bottom-color: #707070;
  border-left-color: #FFFFFF;
}

.grid .tile .tileCover.shown {
  display: none;
}

.grid .tile .tileCover.flagged {
  background-image: url('/images/flag.png');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.grid .tile .innerTile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #B5B5B5;
  font-size: 19px;
  font-weight: 700;
  border: 1px solid #707070;
}

.grid .tile .innerTile.mine {
  background-color: #CC0000;
  background-image: url('/images/bomb.png');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000px;
}

.grid .tile .innerTile.color-0 {
  color: #999999;
}

.grid .tile .innerTile.color-1 {
  color: #0009FF;
}

.grid .tile .innerTile.color-2 {
  color: #017000;
}

.grid .tile .innerTile.color-3 {
  color: #CC0000;
}

.grid .tile .innerTile.color-4 {
  color: #000270;
}

.grid .tile .innerTile.color-5 {
  color: #700000;
}

.grid .tile .innerTile.color-6 {
  color: #007070;
}

.grid .tile .innerTile.color-7 {
  color: #000000;
}

.grid .tile .innerTile.color-8 {
  color: #707070;
}


















